h1{
	color: $black;
    font-weight: 500;
	font-size: em(34);
}

h2{
	color: $black;
    font-weight: 500;
	font-size: em(30);
}

h3{
	color: $black;
    font-weight: 500;
	font-size: em(26);
}

h4{
	color: $black;
    font-weight: 500;
	font-size: em(22);

	@media only screen and (max-width: $media-2x-small) {
		font-size: em(21);
	}
}

h5{
	color: $black;
    font-weight: 500;
	font-size: em(18);
}

@media only screen and (max-width: $media-x-small) {
    h1{ font-size: em(31); }

    h2{ font-size: em(27); }

    h3{ font-size: em(26); }

    h4{ font-size: em(22); }
}

@media only screen and (max-width: $media-2x-small) {
	h1, h2, h3, h4, h5{ line-height: 1.5; }
}

p{
	color: $black;
    font-weight: 300;
	font-size: em(20);
	margin: 30px 0;
	letter-spacing: 0.2px;

	@media only screen and (max-width: $media-2x-small) {
		font-size: em(19);
		line-height: 1.6;
	}

	@media only screen and (max-width: 360px){
		font-size: em(16);
	}
}

a{
    text-decoration: none;
}

span{
    color: $black;
    font-weight: 300;
}
