{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <h1>Notification Test</h1>
        <a href="/list" class="button button-orange">EDIT NOTIFICATIONS</a>
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/notification.js"></script>
{% endblock %}
