html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  font-size: 100%;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (min-width: 3800px) {
    html, body {
      font-size: 115%; } }
  @media only screen and (min-width: 2500px) {
    html, body {
      font-size: 110%; } }
  @media only screen and (max-width: 1400px) and (min-width: 1050px) {
    html, body {
      font-size: 95%; } }

table {
  width: 100%;
  margin: 10px; }
  table th {
    text-align: left; }
  table th,
  table td {
    padding: 3px 5px; }

.wrapper {
  width: 100%;
  min-height: 240px; }
  @media only screen and (min-width: 2500px) {
    .wrapper {
      min-height: 650px; } }

.container {
  max-width: 2200px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto; }
  @media only screen and (max-width: 1050px) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

h1 {
  color: #000;
  font-weight: 500;
  font-size: 2.125em; }

h2 {
  color: #000;
  font-weight: 500;
  font-size: 1.875em; }

h3 {
  color: #000;
  font-weight: 500;
  font-size: 1.625em; }

h4 {
  color: #000;
  font-weight: 500;
  font-size: 1.375em; }
  @media only screen and (max-width: 450px) {
    h4 {
      font-size: 1.3125em; } }

h5 {
  color: #000;
  font-weight: 500;
  font-size: 1.125em; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.9375em; }

  h2 {
    font-size: 1.6875em; }

  h3 {
    font-size: 1.625em; }

  h4 {
    font-size: 1.375em; } }
@media only screen and (max-width: 450px) {
  h1, h2, h3, h4, h5 {
    line-height: 1.5; } }
p {
  color: #000;
  font-weight: 300;
  font-size: 1.25em;
  margin: 30px 0;
  letter-spacing: 0.2px; }
  @media only screen and (max-width: 450px) {
    p {
      font-size: 1.1875em;
      line-height: 1.6; } }
  @media only screen and (max-width: 360px) {
    p {
      font-size: 1em; } }

span {
  color: #000;
  font-weight: 300; }

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.button {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 190px;
  padding: 10px 34px;
  font-size: 1em;
  color: #fff !important;
  text-align: center;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-sizing: border-box; }
  @media only screen and (max-width: 1400px) and (min-width: 1050px) {
    .button {
      padding-bottom: 7px; } }
  .button.button-green {
    background-color: #50C878 !important; }
    @media only screen and (min-width: 1024px), (hover: hover) {
      .button.button-green:hover {
        background-color: #00A86B !important; } }
  .button.button-blue {
    background-color: #0080FF !important; }
    @media only screen and (min-width: 1024px), (hover: hover) {
      .button.button-blue:hover {
        background-color: #0E4D92 !important; } }

.form-field-styles, input, textarea {
  position: relative;
  display: block;
  padding: 7px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #000;
  border: 1px solid #000;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media only screen and (max-width: 1400px) and (min-width: 1050px) {
    .form-field-styles, input, textarea {
      padding-top: 6px;
      padding-bottom: 6px; } }
  .form-field-styles:focus, input:focus, textarea:focus {
    border-color: #0080FF; }

input {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px; }
  input:focus {
    background-color: #fff !important; }
  @media only screen and (max-width: 450px) {
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="search"] {
      font-size: 16px !important; } }

textarea {
  width: 100%;
  height: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow-x: hidden;
  resize: none;
  box-sizing: border-box; }
  textarea ::-webkit-scrollbar-track {
    background-color: transparent; }
  @media only screen and (max-width: 450px) {
    textarea {
      font-size: 16px !important; } }

#notification-form {
  max-width: 500px;
  padding: 25px;
  margin: 15px;
  border: 1px solid #000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px; }
  #notification-form #save-notification {
    margin-top: 15px; }

#notification-list tr:first-child th {
  border-bottom: 1px solid #000; }

/*# sourceMappingURL=main.css.map */
