<div>
    <button id="new-notification" class="button button-blue">NEW</button>
    <div id="notification-form"></div>

    <table id="notification-list">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Message</th>
            <th>Valid From</th>
            <th>Valid To</th>
            <th>Active</th>
        </tr>
    </table>
</div>
